.courses {
    margin-top: 200px;
}

.courses__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        left: 0;
        top: -80px;
        background-image: url("../../img/rocket.svg");
        width: 300px;
        height: 300px;
    }
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        right: 60px;
        top: 40px;
        background-size: contain;
        background-image: url("../../img/Star.svg");
        width: 138px;
        height: 138px;
    }
}

.courses__subtitle {
    font-size: 60px;
    line-height: 54px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
}

.courses__span {
    color: #FFD054;
}

.Courses__title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color:#D0D3DB ;
    text-align: center;
    margin-bottom: 50px;
}

.courses-top__links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}

.courses-top__link {
    padding: 15px 35px;
    border: 1px solid #D0D3DB;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    &:hover {
        border: 1px solid #F2C94C;
        color: #000;
        background-color: #F2C94C;
        transition: all 0.3s linear;
    }
}


.courses {
    margin-top: 100px;
}

.courses__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 39px;
}

.courses__item {
    width:510.73px ;
    padding: 24px 29px 34px 30px;
    background-color: #2F2B6D;
    margin-bottom: 41px;
}

.courses__subtitle {
    font-size:28px ;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 33px;
}

.courses__style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:41px ;
}

.courses__h2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color:#B1B5C1 ;
}

.courses__span {
    color: #FFD054;
}

.courses__links {
    display: flex;
    justify-content: space-between;
}

.courses__link {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    &:nth-child(1){
        padding: 8px 26px 11px 26px;
        border: 1px solid #FFFFFF80;
        border-radius: 5px;
    }
    &:nth-child(1):hover {
        border: 1px solid #F2C94C;
        color: #000;
        background-color: #F2C94C;
        transition: all 0.3s linear;
    }
    &:nth-child(2):hover{
        color: #F2C94C;
    }
}

.courses__button {
    padding: 24px 0;
    width: 100%;
    border: none;
    border-radius:15px ;
    background-color: transparent;
    color: #FFFFFF80;
    border: 1px solid #FFFFFF80;
    margin: 0 auto;
    display: none;
    &:hover {
        border: 1px solid #F2C94C;
        color: #000;
        background-color: #F2C94C;
        transition: all 0.3s linear;
    }
}

.courses__item:hover .courses__button {
    display: block;
    margin-top: 57px ; 
}

.courses__item:hover .courses__img {
    height: 413.36px;
    width: 451px;
}

.courses__img {
    width: 451px;
    height: 552px;
}

.courses-link {
    padding: 24px 28px;
    background-color: transparent;
    border: 1px solid #B1B5C1;
    color: #B1B5C1;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom:137px ;
    &:hover {
        border: 1px solid #F2C94C;
        color: #000;
        background-color: #F2C94C;
        transition: all 0.3s linear;
    }
}